.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    height: 120px;
    width: 129px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0%{
        /* set rotation to 0 degree */
            transform: rotate(0deg);
    }
    100%{
        /* Set rotation to 360 degree */
            transform: rotate(360deg);
    }
}