p{
    color:#a52a2a;
    line-height: 30px;
}
body{
    text-align: center;
    font-family: georgia;
}
a{
    color: rgb(0, 255, 0);
}
textarea{
    color: rgb(2, 2, 2);
}
span{
    text-decoration: underline;
}