div{
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 2px dotted black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}
.d{
    height: 100px;
    width: 100px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
}
li{
    display: inline;
}