.container-md{
    background-color: yellow;
}
.btn-info{
    /* background-color: rgb(71, 5, 252); */
}
.badge{
    background-color: blue;
}
/* .alert{
    background-color: red; 
    color: white;
} */