/* .card{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}
img{
    width: 100%;
} */
 .card{
    border: 2px solid black;
    width: 200px;
    display: inline-block;
    margin: 10px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 18px black;
    transition: 2s;
 }
 .card:hover{
    box-shadow: 0 8px 16px goldenrod;
 }
 .desc{
    padding: 0 2px 0 2px;
 }
 img{
    width: 100%;
    height: 60%;
    border-radius: 5px 5px 0 0;
    
 }