h1{
    /* display: inline; */
    /* background-color: aliceblue; */
    border: 2px solid black;
    width: 50%;
}
span{
    /* display: block; */
    /* background-color: yellowgreen;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    padding: 100px;
    margin: 25px; */
}
section{
    font-size: 15px;
}
div{
    height: 10px;
    width: 10px;
    background-color: greenyellow;
    margin: 10px;
    border: 2px solid black;
    display: inline-block;
    font-size: 2rem;
    /* display: none; */
}
#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: grey;
    margin-left: 10%;
}
#out{
 height: 400px;
    width: 400px;
     background-color: pink;
     border: 2px solid black;
    font-size: 20px;
}
#in{
 height: 100px;
    width: 100px;
    background-color: green;
    font-size: 2em;
    padding: 2em;
}
button{
    font-size: 60px;
    border: 5px solid red;
    border-radius: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-left: 1em;
    padding-right: 1em;
}