.face{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: yellow;
    /* margin: 200px; */
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: rgb(245, 10, 10);
    border-radius: 0 0 50px 50px ;
    position: absolute;
    top: 250px;
    left:100px
}
.leftE, .rightE{
width: 50px;
height: 50px;
background-color: black;
border-radius: 50%;
display: inline-block;
position: absolute;
left: 100px;
top: 100px;
}
.rightE{
    left: 250px;
}