*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(202, 243, 229);
}
h1,h3{
    color: #b92b27;
}
#login{
    background-color: white;
}
/* id selector */
#signup{
    background-color: #b92b27;
    color: white;
}
/* class selector */
.upvote{
    background-color: green;
}
