*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(202, 243, 229);
}
h1,h3{
    color: #b92b27;
}
#login{
    background-color: white;
}
/* id selector */
#signup{
    background-color: #b92b27;
    color: white;
}
/* class selector */
.upvote{
    background-color: green;
}
/* descendant selector */
.post a{
    color: purple;
    background-color: yellow;
}
nav ul li a{
    color: hotpink;
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: cornflowerblue;
    color: darkblue;
}
div>input{
    background-color: darksalmon;
}
input[type="text"]{
    color: green;
}
input[type="password"]{
    color: red;
}
input[type]{
    background-color: ghostwhite;
}
div[id="myId"] p{
    color: green;
}
/* #myId directly also can use */