*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(202, 243, 229);
}
h3{
    background-color: blue !important;
}
h1,h3{
    color: #b92b27;
}
#login{
    background-color: white;
}
/* id selector */
#signup{
    background-color: #b92b27;
    color: white;
}
/* class selector */
.upvote{
    background-color: green;
}
/* descendant selector */
.post a{
    color: purple;
    background-color: yellow;
}
nav ul li a{
    color: hotpink;
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: cornflowerblue;
    color: darkblue;
}
div>input{
    background-color: darksalmon;
}
input[type="text"]{
    color: green;
}
input[type="password"]{
    color: red;
}
input[type]{
    background-color: ghostwhite;
}
div[id="myId"] p{
    color: green;
}
/* #myId directly also can use */

button:hover{
    color: white;
    background-color: black;
}
h3:hover{
    text-decoration: overline;
}
button:active{
    background-color: hotpink;
    color: black;
}
p:active{
    color: green;
    font-weight: bold;
}
input[type="radio"]:checked + label{
    font-weight: 800;
    color: red;
}
div:nth-of-type(n){
    background-color: antiquewhite;
}
h1::first-letter{
    color: green;
    font-size: larger;
}
p::first-line{
    color: hotpink;
}
p::selection{
    background-color: yellowgreen;
}
h3{
    background-color: yellow;
}
h3{
    background-color: blue;
}