#container{
    height: 500px;
    width: 80%;
    background-color:azure ;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    align-items: baseline;
}
h1{
    text-align: center;
}
#container div{
    height: 100px; ;
    width: 300px;
    color: white;
    font-size: 1.5;
    text-align: center;
}