#container{
    height: 500px;
    width: 80%;
    background-color:azure ;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* align-items: flex-end; */
    align-items: baseline;
    align-content: space-evenly;
}
h1{
    text-align: center;
}
#container div{
    height: 200px; ;
    width: 300px;
    color: white;
    font-size: 1.5;
    text-align: center;
}
#orange{
    align-self: flex-end;
    border: 2px solid black;
    /* flex-basis: 50px; */
    /* flex-shrink: 2; */
    flex:2 1 100px;
   
}
#blue{
    /* flex-basis: 50px; */
    /* flex-grow: 2; */
    max-height: 100px;
    flex-grow: 2;
}