div{
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid rgb(230, 255, 3);
    border-left-color:blue ;
    border-left-style: dashed;
    border-top: 5px dashed green;
    border-radius: 50px;
    border-top-right-radius: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 25px;
    margin-top: 200px;
    margin-bottom: 100px;
}
h1{
    /* border-width: 3px;
    border-style: dotted;
    border-color: green; */
    border: 3px dashed green;
    border-radius: 50%;
}
button{
    border: 2px solid black;
    /* border-radius: 10px; */
    /* padding-left: 25px;
    padding-right: 25px; */
    padding: 0px 30px 10px 25px;
    background-color: rgb(16, 141, 83);
}