h1{
    text-align: center;
    /* border: solid; */
    /* width: 50%; */
    text-decoration: blue wavy overline;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    text-align: left;
    font-weight: 900;
    text-decoration:  white line-through;
    
}
p{
    text-align: justify;
    text-decoration: red dotted underline;
     line-height: 1.6;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    letter-spacing: 10px;
    
}